ul.phones
  each phone in phones
    li.thumbnail(data-element="phone-item", data-phone-id= phone.id)
      a.thumb(href= `#!/phones/${phone.id}`)
        img(
          alt= phone.name,
          src= phone.imageUrl
        )
      a(href= `#!/phones/${phone.id}`)= phone.name
      p= phone.snippet
